<a href="https://colab.research.google.com/github/G0nkly/Ready-Set-Prophecy/blob/main/ARIMA/ARIMA_Melbourne_temps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_absolute_error, mean_squared_error
import matplotlib.pyplot as plt
plt.style.use("seaborn-v0_8")

In [33]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv"

df = pd.read_csv(url, parse_dates=["Date"])
df = df.rename(columns={"Date": "date", "Temp": "temp_min"})
df = df.sort_values("date")

df.head()

        date  temp_min
0 1981-01-01      20.7
1 1981-01-02      17.9
2 1981-01-03      18.8
3 1981-01-04      14.6
4 1981-01-05      15.8

In [34]:
df.set_index("date", inplace=True)
df = df.asfreq("D")

assert not df.isnull().all().item(), "Missing values detected"
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3652 entries, 1981-01-01 to 1990-12-31
Freq: D
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   temp_min  3650 non-null   float64
dtypes: float64(1)
memory usage: 57.1 KB

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3652 entries, 1981-01-01 to 1990-12-31
Freq: D
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   temp_min  3650 non-null   float64
dtypes: float64(1)
memory usage: 57.1 KB

In [6]:
df.head()

            temp_min
date
1981-01-01      20.7
1981-01-02      17.9
1981-01-03      18.8
1981-01-04      14.6
1981-01-05      15.8

In [13]:
df.head(10)

            temp_min
date
1981-01-01      20.7
1981-01-02      17.9
1981-01-03      18.8
1981-01-04      14.6
1981-01-05      15.8
1981-01-06      15.8
1981-01-07      15.8
1981-01-08      17.4
1981-01-09      21.8
1981-01-10      20.0

In [15]:
df.isna().any().any()

np.True_

In [17]:
df.isnull().all(1)

date
1981-01-01    False
1981-01-02    False
1981-01-03    False
1981-01-04    False
1981-01-05    False
              ...
1990-12-27    False
1990-12-28    False
1990-12-29    False
1990-12-30    False
1990-12-31    False
Freq: D, Length: 3652, dtype: bool

In [26]:
df.isnull().all(1).item()

ValueError: can only convert an array of size 1 to a Python scalar